.back-t-shirt-img {
  background: url("images/t-shirt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 200px;
}
.check-pos {
  top: 10px;
  left: 10px;
}
.check-size {
  width: 23px;
  height: 23px;
}

/* 


<div class="col-4 px-2">
                            <div class="card">
                                <div class="back-t-shirt-img"></div>
                                <input class="form-check-input position-absolute check-pos check-size" type="checkbox"
                                    name="" id="">
                                <div class="card-body">
                                    <h5 class="card-title">Sweatshirt</h5>
                                    <h6 class="card-title text-primary">$ 5.00</h6>

                                    <div class="row">
                                        <div class="col-5">
                                            <label class="form-label" for="">Quantity</label>
                                            <select class="form-select" name="" id="">
                                                <option value="" selected>1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                        <div class="col-7">
                                            <label class="form-label" for="">Color</label>
                                            <select class="form-select" name="" id="">
                                                <option value="" selected>Green</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col">
                                            <label class="form-label d-block" for="">T-Shirt Size</label>
                                            <select class="form-select w-50" name="" id="">
                                                <option value="" selected>XS</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 px-1">
                            <div class="card h-100">
                                <div class="back-t-shirt-img"></div>
                                <input class="form-check-input position-absolute check-pos check-size" type="checkbox"
                                    name="" id="">
                                <div class="card-body">
                                    <h5 class="card-title">Shoes</h5>
                                    <h6 class="card-title text-primary">$ 10.00</h6>

                                    <div class="row">
                                        <div class="col-5">
                                            <label class="form-label" for="">Quantity</label>
                                            <select class="form-select" name="" id="">
                                                <option value="" selected>1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                        <div class="col-7">
                                            <label class="form-label" for="">Color</label>
                                            <select class="form-select" name="" id="">
                                                <option value="" selected>Green</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
*/

/*
<div id="email-p-1" class="row mb-3">
    <div class="col-6">
        <input type="email" class="form-control" name="email-1" id="email-1" placeholder="ex: myname@example.com">
        <div id="email-1-error" class="form-text"></div>
    </div>
    <div class="col-6 px-0">
        <button id="plus" type="button" class="btn bg-transparent border-0 px-0"><i class="fa-solid fa-circle-plus fa-2x text-success"></i></button>

        <button id="minus" type="button" class="btn bg-transparent border-0 px-0"><i class="fa-solid fa-circle-minus fa-2x text-danger"></i></button>
    </div>
</div>

email
number

type



<div id="number-p-1" class="row mb-3">
    <div class="col-6">
        <input type="tel" class="form-control" name="number-1" id="number-1" placeholder="(000) 000-0000">
        <div id="number-1-error" class="form-text"></div>
    </div>
    <div class="col-6 px-0">
        <button type="button" class="btn bg-transparent border-0 px-0"><i
            class="fa-solid fa-circle-plus fa-2x text-success"></i></button>

        <button id="minus" type="button" class="btn bg-transparent border-0 px-0"><i class="fa-solid fa-circle-minus fa-2x text-danger"></i></button>
    </div>
</div>

*/
